body{
    background-color: #191919;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{color: white;font-weight: 500;}
.register{
    width: 8000px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: #191919;
}
.register input[type="text"],.register input[type="email"],textarea{

    border: 0;
    background-color:#E9E9E9;
    margin: 10px auto;
    text-align: center;
    border: 2px solid;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25;
    
}
.register input[type = "text"]:focus,.register input[type = "password"]:focus{
    width: 280px;
    border-color: 771572;
  }
  .register input[type = "submit"]{
    border:0;
    background: #771572;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #771572;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .register input[type = "submit"]:hover{
    background: #191919;
  }
  textarea{
    width: 400px;  
    height: 50px;;
  }
  